<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boasts</title>
</head>
<body>
    <a href="/" style="color: blue;">Home</a> | <a href="/newpost/" style="color: blue;">New Post</a> | <a href="/roasts/" style="color: blue;">Roasts</a> | <a href="/votes/" style="color: blue;">Sorted By Votes</a>
    <br>
    <h1><u>{{ boasts_title }}</u></h1>
    {% for post in boasts %}
        <br>
        <h2>{{ post.content }}</h2>
        <h3><i>Boast</i></h3>
        <h3>{{ post.votes }}</h3>
        <a href="/upvote/{{ post.id }}/" style="color: blue;">UpVote</a> | <a href="/downvote/{{ post.id }}/" style="color: blue;">DownVote</a>
        <h3>{{ post.post_date }}</h3>
        <br>
        <br>
    {% endfor %}
</body>
</html>